DATABASE_URL=

S3_BUCKET=
S3_PUBLIC_BUCKET_URL=
S3_CLIENT_ENDPOINT=
S3_CLIENT_ACCESS_KEY_ID=
S3_CLIENT_SECRET_ACCESS_KEY=
S3_CLIENT_REGION=

AUTH_ACCESS_TOKEN_SECRET=
AUTH_REFRESH_TOKEN_SECRET=
AUTH_OAUTH_GOOGLE_CLIENT_ID=
AUTH_OAUTH_GOOGLE_CLIENT_SECRET=
AUTH_BASE_URL=
AUTH_SMTP_HOST=
AUTH_SMTP_PORT=
AUTH_SMTP_USER=
AUTH_SMTP_PASS=
AUTH_SMTP_FROM=

FCM_FIREBASE_CONFIG={}
FCM_VAPID_KEY=
FCM_SERVICE_ACCOUNT={}

BUGSNAG_API_KEY=
